<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7749002887588933" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LZArt | Em construção</title>
    <meta name="description" content="Be Simple!">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&amp;display=swap">
    <link rel="prefetch" href="https://receitinhas.lzart.com.br">
    <link rel="prefetch" href="https://tarefaedu.lzart.com.br">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    {{ content }}
  </body>
</html>
